*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
    background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);

 }
.div-titulo{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.padre{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.primeraColumna{
    padding: 1rem;
    width: 35%;
}
.primeraColumna h2{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    color: white;
}
.segundaColumna{
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.segundaColumna h2{
    display: flex;
    justify-content: center;
    color: white;
}

